<center><h1>Add a New Client Here:</h1></center>

<form action ='/clients/new' method='post'>
  <div class="form-group">
     <label for="client-form">The client's name</label>
     <input id="name" name="name" class="form-control" tyoe="text">
    </div>

    <br>
    <button type="submit" class="btn">Add Client</button>
  </form>