<center><h1>Add a New Stylist Here:</h1></center>

  <form action='/stylists/new' method='post'>
    <div class="form-group">
      <label for="stylist-form">The stylist's name</label>
      <input id="name" name="name" class="form-control" type="text">
    </div>
    <br>
    <button type="submit" class="btn">Add Stylist</button>
  </form>

